<title>::HOMEPAGE::</title>
<style>
    /*
                font-family: 'Abel', sans-serif;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Patua One', cursive;
    */
    *{
        padding:0;
        margin:0;
    }
    body{
        background-color: black;
    }
    
    
    
    .container{
        width: 100%;
        position:relative;
        height:70px;
        margin: 0 auto;
        padding: 0px 0px;
        border-bottom:1px solid #e46226;
    }
    .header{
        width:100%;
    
        padding: 20px 0px;
    }
    #nav1>ul{
        position:absolute;
        right: 150px;
    }
    
    #nav1>ul>li{
        list-style: none;
        float:left;
        height: 40px;
        line-height: 40px;
    }
    
    #nav1>ul>li>a{
        text-decoration:none;
        font-family: 'Abel', sans-serif;
        color:#fff;
        font-size:14px;
        font-weight: bold;
        padding:0 20px;
    }
    
    .btn{
        width: 130px;
        height: 40px;
        background-color: #e46226;
        font-size:16px;
        font-weight:bold;
        font-family: 'Abel', sans-serif;
        border: none;
        border-radius: 5 px;
        color:#fff;
        position: absolute;
        right:0;
    
    }
    
    .logo{
        color: #e46226;
        font-family: 'Abel', sans-serif;
        font-size: 30px;
        font-weight: 900;
        position:absolute;
        padding: 20px 0;
    }
    .brand-quote{
        color: #fff;
        font-family: 'Patua One', cursive;
        font-size: 50px;
        padding-left:20px;
        position: relative;
        top:100px;
    }
    
    
    
    
    </style>
    
    
    
    
    
    <style>
            .fa-2x{
                font-size:2em;
            }
            .fa{
                position:relative;
                display:table-cell;
                width:60px;
                height:36px;
                text-align:center;
                vertical-align:middle;
                font-size:20px;
            }
        
            .main-menu:hover, #navicon:hover, nav.main-menu.expanded{
                width:250px;
                overflow:visible;
        
            }
        
            .main-menu{
                background:rgba(0,0,0,1) 4%;
                border-right:1px solid #e46226;
                position: fixed;
                top:70px;
                bottom:0;
                height:100%-70px;
                left:0;
                width:60px;
                overflow:hidden;
                transition: width 0.2s linear;
                z-index:1000;
                -webkit-transform:translate(0) scale(1,1);
            }
        
            .main-menu > ul{
                margin: 7px 0;
            }
        
            .main-menu li{
                position: relative;
                display: block;
                width:250px;
            }
        
            .main-menu li a{
                position: relative;
                display: table;
                border-collapse: collapse;
                border-spacing: 0;
                color:#999;
                font-family:arial;
                font-size:14px;
                text-decoration:none;
                -webkit-transform:translateZ(0) scale(1,1);
                transition: all 0.2s linear;
            }
        
            .main-menu .nav-icon{
               
                display: table-cell;
                width:60px;
                height:36px;
                text-align:center;
                vertical-align:middle;
                font-size:18px;
                position: fixed;
            }
        
            .main-menu .nav-text{
                position: relative;
                display: table-cell;
                vertical-align:middle;
                width:190px;
                font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
                
            }
        
            .main-menu ul.logout{
                position:fixed;
                left:0;
                bottom:0;
            }
        
            .no-touch .scrollable.hover{
                overflow-y:hidden;
            }
            .no-touch .scrollable.hover:hover{
                overflow-y:auto;
                overflow:visible;
            }
        
            a:hover,a:focus{
                text-decoration: none;
            }
        
            nav{
                user-select: none;
            }
            nav ul,nav li{
                outline:0;
                margin:0;
                padding:0;
        
            }
        
            .main-menu li:hover a,
            .nav.main-menu li:active a,
            .dropdown-menu li a:hover,
            .dropdown-menu li a:focus,
            .dropdown-menu .active a,
            .dropdown-menu .active a:hover,
            .dropdown-menu .active a:focus,
            .no-touch .dashboard-page nav.dashboard-menu ul li:hover a,
            .dashboard-page nav.dashboard-menu ul li.active a{
                color:white;
                background-color:#e46226;
            }
        
            .area{
                float:left;
                background: #e2e2e2;
                width: 100%;
                height:100%;
            }
    
    
    
        </style>
    
    <style>
    
    .video-content { grid-area: video; height:100%;}
    .recommendation { grid-area: recom; }
    .comments { grid-area: comment; }
    .grid-container {
        display: grid;
        grid-template-areas:
        'video video video video video video video recom recom recom'
        'comment comment comment comment comment comment comment recom recom recom';
        padding-top:100px;
        padding-left:120px;
        flex-wrap: wrap;
      }
    
      
      .grid-container > div {
        font-size: 30px;
        width:100%;
        
      }
    
      .recommended-videos {
        display: grid;
        grid-template-columns: 40% 58%;    
        grid-gap: 2%;    
        color:#FFFFFF;
      }
    
      .recommended-videos>div {
     
        font-size: 30px;
        width:100%;   
      }
      
      
      
      @media screen and (max-width: 750px)
    {
    
    .grid-container {
        display: grid;
        grid-template-areas:'video'
        'recom'
        'comments';
    }
    
    .main-menu
    {
        width:0px;
    }
      
    #navicon{
        visibility: visible;
    }    
      
    }
    
      </style>
</head>
<body>


        <nav class="main-menu" id="navbar2">
                <ul>
    
    
                    <li>
                        <a href=""><i class="fa fa-home fa-2x"></i>
                        <span class="nav-text">
                            HOME
                        </span></a>
                    </li>
    
    
                    <li class="has-subnav">
                            <a href=""><i class="fa fa-laptop fa-2x"></i>
                            <span class="nav-text">
                                TRENDING
                            </span></a>
                        </li>
    
                    <li class="has-subnav">
                            <a href=""><i class="fa fa-list fa-2x"></i>
                            <span class="nav-text">
                                SUBSCRIPTION
                            </span></a>
                        </li>
                      <div style=" padding:0px 10px;"><hr/></div> 
                     <li class="has-subnav">
                                <a href=""><i class="fa fa-folder-open fa-2x"></i>
                                <span class="nav-text">
                                   HISTORY
                                </span></a>
                            </li>
                        
                    <li>
                            <a href=""><i class="fa fa-bar-chart-o fa-2x"></i>
                            <span class="nav-text">
                                WATCH LATER
                            </span></a>
                        </li>

                        <div style=" padding:0px 10px;"><hr/></div> 
                    <li>
                            <a href=""><i class="fa fa-font fa-2x"></i>
                            <span class="nav-text">
                                FILTERS
                            </span></a>
                    </li>
                   
    
    
                </ul>
    
                <ul class="logout">
                    <li>
                        <a href="">
                            <i class="fa fa-power-off fa-2x"></i>
                            <span class="nav-text">Logout</span>
                        </a>
                    </li>
                </ul>
    
            </nav>




  
            <div class="container" style="position: fixed; background-color: black;" >
                <div class="logo"><span id="navicon"  onclick="openNav()" style="visibility:hidden; width:0;"><i class="fa fa-navicon fa-2x" style="padding:0px; margin:0px"></i></span>STREAMZ</div>
                
                    <div class="header" >
                        <nav id="nav1">
                            <ul>
                                <li><a href="">HOME</a></li>
                                <li><a href="">ABOUT</a></li>
                            </ul>
                        </nav>
                    <button type="button" class="btn ">LOGIN</button>
                    
                </div>
            </div>
            



            <div class="grid-container">
                    <div class="video-content" >
                        <video autoplay muted loop width="100%" src="static/video/2 Minute Timer.mp4" type="video/mp4" controls>
                                Your browser does not support the video tag.
                        </video>
                        <h1 style="font-family: 'Ubuntu', sans-serif; color:white;"> 2 Minute Timer</h1>
                        <hr/>
                        <h4 style="color:white; font-family: 'Montserrat', sans-serif; font-weight: bold;">DESCRIPTION</h4>
                        <p style="font-family: 'Karla', sans-serif; font-weight: 100; color:white; font-size: 22px;">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod temp or incididunt ut labore et dolore magna aliqua. Ut enim ad minim.</p>
                    </div>
                    <div class="recommendation" style="padding:0 10%;">
                            <p style="color:white; font-family: 'Montserrat', sans-serif;">RECOMMENDATIONS</p>
                            <div class="recommended-videos">
                                <div style="padding:2%"><img src="static/image/video1.png" width=100%>
                                </div>
                                <div>
                                    <p style="font-family: 'Patua One', cursive;font-size: 30px; font-weight: bold;">3 Min Timer</p>
                                    <p style="font-family: 'Patua One', cursive; font-size: 20px">Plays for 3 mins</p>
                                </div>
                            </div>

                            <div class="recommended-videos">
                                    <div style="padding:2%"><img src="static/image/video1.png" width=100%>
                                </div>
                                    <div>
                                        <p style="font-family: 'Patua One', cursive;font-size: 30px; font-weight: bold;">3 Min Timer</p>
                                        <p style="font-family: 'Patua One', cursive; font-size: 20px">Plays for 3 mins</p>
                                    </div>
                                </div>

                                <div class="recommended-videos">
                                        <div style="padding:2%"><img src="static/image/video1.png" width=100%>
                                </div>
                                        <div>
                                            <p style="font-family: 'Patua One', cursive;font-size: 30px; font-weight: bold;">3 Min Timer</p>
                                            <p style="font-family: 'Patua One', cursive; font-size: 20px">Plays for 3 mins</p>
                                        </div>
                                    </div>
                                    <div class="recommended-videos">
                                            <div style="padding:2%"><img src="static/image/video1.png" width=100%>
                                </div>
                                            <div>
                                                <p style="font-family: 'Patua One', cursive;font-size: 30px; font-weight: bold;">3 Min Timer</p>
                                                <p style="font-family: 'Patua One', cursive; font-size: 20px">Plays for 3 mins</p>
                                            </div>
                                        </div>

                                        <div class="recommended-videos">
                                               <div style="padding:2%"><img src="static/image/video1.png" width=100%>
                                </div>
                                                <div>
                                                    <p style="font-family: 'Patua One', cursive;font-size: 30px; font-weight: bold;">3 Min Timer</p>
                                                    <p style="font-family: 'Patua One', cursive; font-size: 20px">Plays for 3 mins</p>
                                                </div>
                                            </div>


                                            <div class="recommended-videos">
                                                    <div style="padding:2%"><img src="static/image/video1.png" width=100%>
                                </div>
                                                    <div>
                                                        <p style="font-family: 'Patua One', cursive;font-size: 30px; font-weight: bold;">3 Min Timer</p>
                                                        <p style="font-family: 'Patua One', cursive; font-size: 20px">Plays for 3 mins</p>
                                                    </div>
                                                </div>

                                                <div class="recommended-videos">
                                                        <div style="padding:2%"><img src="static/image/video1.png" width=100%>
                                </div>
                                                        <div>
                                                            <p style="font-family: 'Patua One', cursive;font-size: 30px; font-weight: bold;">3 Min Timer</p>
                                                            <p style="font-family: 'Patua One', cursive; font-size: 20px">Plays for 3 mins</p>
                                                        </div>
                                                    </div>
                                                   



                    </div>
                    <div class="comments">
                            <p style="color:white; font-family: 'Montserrat', sans-serif;">COMMENTS</p>
                      
                        
                    </div>
                  </div>


 <script>
                        function openNav() {
                            var x = document.getElementById("navbar2");
                            if(x.style.width == "250px")
                                x.style.width = "0px";
                            else
                                x.style.width = "250px";
                        
                        }
                                           
                        
                        </script>


